body {
	background-image: url(../images/background.jpeg);
	font-family: 'Jomhuria', cursive;

}

.logo {
	width: 70%;
	position: absolute;
	margin: 0 auto;
	display: block;
}
.logo-header {
	float: right;
	font-size: 45px;
	font-weight: 20px;
	position: relative;
	top: 101px;
	color: #b30000;
}


.charPick {
	border: 5px solid black;
	float: left;
	width: 175px;
	height: 175px;

}

#battleField {
	text-align: center;
	color: black;
}



.header {
	font-family: 'Jomhuria', cursive;
	font-size: 75px;
	color: black;
}

#attack {
	font-size: 30px;
}

#playerStats {
	margin-right: 130px;
}

#enemyStats {
	margin-right: 130px;
}

#battleStats {
	text-align: center;
}